:root {
    --font-main: "helvetica";
    --font-sub: "Open Sans";

    --clr-primary-yellow: #ffae00;
    --clr-primary-blue: #00B4EE;
    --clr-secondary-pink: #f8076b;
    --clr-secondary-green: #01B29E;
    --clr-light-grey: rgb(80, 80, 80);
    --clr-overlay: #ffae00ea;
    --clr-light-bg: rgba(226, 226, 226, 0.747);
    --clr-white: rgb(255, 255, 255);
    --clr-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    font-size: 18px;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    font-family: var(--font-main);
    font-variant: normal;
    text-decoration: none;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

h1 {
    font-size: 2rem;
    color: var(--clr-white);
}

h2 {
    font-size: 1.25rem;
    color: var(--clr-primary-blue);
    text-align: center;
}

p {
    font-family: var(--font-sub);
    font-size: 1.15rem;
    line-height: 1.75;

}

hr {
    margin: 12px 0;
    border: none;
    height: 2px;
}

a {
    color: var(--clr-light-grey);
    text-decoration: none;

}

a:hover {
    color: var(--clr-primary-blue);
    text-decoration: none;


}

ul {
    list-style: none;
}

.header {
    display: flex;
    position: relative;
    height: auto;
    background-color: var(--clr-primary-yellow);
}

.logo {
    display: flex;
    width: 10%;
    height: 20%;
    align-items: center;
    font-size: 26px;
    color: #fff;
    font-family: var(--font-main);
    font-weight: 800;
}

.logo span {
    letter-spacing: 5px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    background-image: linear-gradient(-90deg, #753f008a, #8b4a00a2);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu ul {
    display: flex;
    position: absolute;
    padding: 12px 12px;
    right: 0;

}

.menu ul li {
    padding: 0 20px;

}

.menu ul li a {
    display: block;
    padding: 5px 5px;
    color: var(--clr-white);
    font-size: 26px;
    font-weight: 600;
    font-variant: small-caps;
    text-decoration: none;


}

.menu a:hover {
    border-bottom: var(--clr-secondary-pink)solid;
    color: var(--clr-primary-blue);

}

.active {
    border-bottom: var(--clr-secondary-pink)solid;

}

/* hamburger menu section */
.hamburger {
    display: none;

}

#hamburger-menu {
    display: none;

}

#hamburger-menu:checked~nav {
    display: block;
    top: 20px;
    right: 10px;
    cursor: pointer;
}

label[for=hamburger-menu] {
    display: block;
    position: absolute;
    top: 20px;
    right: 10px;

}

.hamburger nav ul {
    display: block;
    position: absolute;
    right: 0px;
    height: 375px;
    width: 100%;
    list-style-type: none;
    margin: 80px 0px;
    margin-bottom: 0;
    padding: 10px 10px;
    z-index: 20;
    background-color: var(--clr-overlay);



}

.hamburger nav li {
    margin-bottom: 12px;
    padding: 12px 12px;
    align-items: center;
}

.hamburger nav li a {
    display: block;
    margin-right: 10px;
    color: var(--clr-black);

}

.hamburger nav li a:hover {
    border-bottom: var(--clr-secondary-pink)solid;
    color: var(--clr-primary-blue);
}

/* breadcrumb */
.breadcrumb {
    display: flex;
    padding: 120px 15px;
    list-style: none;
    /* background-image: linear-gradient(-70deg, #ff9e1f86, #61420078 90%); */

}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    padding: 10px 10px;
    color: var(--clr-primary-blue);
    content: "/\00a0";
    font-size: 40px;

}

.breadcrumb li a {
    color: var(--clr-black);
    font-size: 36px;
    font-variant: small-caps;
}

.breadcrumb li a:hover {
    color: var(--clr-secondary-pink);
}


/* hero section */
.hero {
    display: block;
}

.hero-img {
    display: block;
    position: relative;
    background-size: cover;

}

.hero-img img {
    background-size: cover;
    width: 100%;
    height: auto;


}

.hero-cta {
    position: absolute;
    top: 30%;
    right: 50%;

}

.scroll-down {
    display: block;
    position: absolute;
    bottom: 30px;
    left: 50%;
    z-index: 2;

}

/* hero section ends */

/* explore section */
.kids {
    display: flex;
    position: relative;
    background-image: linear-gradient(-90deg, #ad5c00a9, #5f5f5f);

}

.teachers {
    display: flex;
    background-image: linear-gradient(-90deg, #5f5f5f, #f15ecc81);
}

.researchers {
    background-image: linear-gradient(-90deg, #94540098, #5f5f5f);
}

/* flex-container */
.explore-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    min-height: 500px;

}

.left-column {
    flex-basis: 50%;
    padding: 20px;

}

.right-column {
    flex-basis: 50%;

}

.right-column img {
    object-fit: cover;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;


}

.left-column h2 {
    font-family: var(--font-main);
    color: var(--clr-white);
    text-decoration: underline;
    font-variant: small-caps;
}

.left-column p {
    font-family: var(--font-sub);
    color: var(--clr-white);
    padding: 12px 0px;
    line-height: 1.75;
    justify-content: space-around;
}

/* h1 title used on every page */
.main-title {
    display: flex;
    font-family: var(--font-main);
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px rgb(136, 1, 1);
    font-size: 40px;
    color: var(--clr-secondary-pink);
    justify-content: center;
    padding: 20px;
    margin-bottom: 15px;


}

/* color borders */
.blue-bg {
    border: 1px dotted var(--clr-primary-blue);

}

.pink-bg {
    border: 1px dotted var(--clr-secondary-pink);
}

.yellow-bg {
    border: 1px dotted var(--clr-primary-yellow);
}

.green-bg {
    border: 1px dotted var(--clr-secondary-green);
}

/* bottom flex area */

.bottom-container {

    display: flex;
    position: relative;
    padding: 10px 20px;
    justify-content: center;
    margin: 12px;
    cursor: pointer;
    height: 100%;
}

.bottom-box {

    background-color: var(--clr-white);
    padding: 10px 16px;
    margin: 20px;


}

.bottom-box:hover {
    background: linear-gradient(135deg, hsl(180, 100%, 15%) 0%, #9c6408 100%);
    color: white;
}

.gradients {
    background-image: linear-gradient(-90deg, #584100a2, #fbbb867e);

}

/* style for buttons  */
.btn {
    padding: 20px 60px;
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    margin: 12px 0;
    font-family: var(--font-main);
    font-size: 24px;
    font-weight: 600;
    font-variant: small-caps;
    cursor: pointer;
}

.primary-btn {
    background-color: var(--clr-secondary-pink);
    border-color: var(--clr-secondary-pink);
    color: var(--clr-white);
}

.primary-btn:hover {
    background-color: var(--clr-primary-blue);
    border-color: var(--clr-primary-blue);
    color: var(--clr-white);
}

.secondary-btn {
    background-color: var(--clr-secondary-green);
    border-color: var(--clr-secondary-green);
    color: var(--clr-white);

}

.secondary-btn:hover {
    background-color: var(--clr-primary-blue);
    border-color: var(--clr-primary-blue);
    color: var(--clr-white);
}

hr {
    margin: 12px 0;
    border: none;
    height: 1px;

}

hr.colored {
    background-image: linear-gradient(20deg, rgba(255, 0, 157, 0.911), rgba(250, 144, 4, 0.212), rgba(0, 188, 245, 0.438));

}

hr.thick-colored {
    background-image: linear-gradient(20deg, rgba(255, 0, 157, 0.911), rgba(250, 193, 4, 0.952), rgba(0, 155, 245, 0.897));
    height: 5px;
    transform: skewY(0deg);
}

.underline {
    background-image: linear-gradient(60deg, rgba(255, 0, 170, 0.972), rgba(65, 212, 7, 0.541), rgba(255, 123, 0, 0.986));
    height: 5px;
    width: 12%;

}

.logo-title {
    font-size: 24px;
    font-family: var(--font-main);
    letter-spacing: 2.5px;
    text-shadow: 3px 3px rgb(77, 37, 0);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;


}

.welcome {
    font-size: 36px;
    font-family: "Helvetica";
    letter-spacing: 2.5px;
    font-weight: 800;
    color: var(--clr-white);
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(17, 13, 13);
}

.read-more {

    color: var(--clr-secondary-pink);
}

.fas {
    color: var(--clr-secondary-pink);
    cursor: pointer;
    margin: 0px 10px
}

.fas:hover {
    color: var(--clr-primary-blue);
}

/* footer section */
footer {
    background-color: var(--clr-primary-yellow);
    margin-top: 30px;

}

.footer-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 20px 20px;
    width: 100%;
    background-color: var(--clr-primary-yellow);


}

.footer-logo {
    height: 10%;
    width: 10%;
}

.footer-logo p {
    font-size: 12px;
}

.footer-section {
    padding: 0;
}

.footer-section h3 {
    padding: 12px 0;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 8px;

}


.footer-section li {
    padding: 12px 0px;
    letter-spacing: 2px;
}

.footer-section i {
    padding: 5px;

}

.footer-backtotop {
    float: right;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
    background-color: rgb(20, 20, 20);
    font-variant: small-caps;

}

/* exhibition page */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.column {
    flex: 50%;
    height: 450px;
    margin-block: 12px;
    padding: 12px;

}


.flex-container div:nth-child(1n) {
    background: rgba(177, 177, 177, 0.24);

}

.flex-container div:nth-child(2n) {
    background: rgba(158, 158, 158, 0.308);

}

.column img {
    object-fit: cover;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.exhibition-header {
    object-fit: cover;
    height: 15%;
    width: 100%;
    background-size: cover;
    background-image: url(../images/exhibition-header.jpeg);

}

/* exhibition page ends */

/* event page */
.event-container {
    padding: 12px;
    background: var(--clr-light-bg);
    max-width: 1280px;
    margin: 20px auto;
}

.event-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

}

.event {
    padding: 20px 20px;
    margin: 10px;
    background: var(--clr-white);
}

.event-img img {
    object-fit: cover;
    overflow: hidden;
    width: 100%;
    height: 200px;
}

.event-text h3 {
    margin-block: 20px;
    text-decoration: underline;

}

.event-text p {

    margin-block: 20px;
    line-height: 1.75;
    text-align: justify;
    text-justify: inter-word;
}

.event-date {
    font-weight: bold;
    color: var(--clr-secondary-pink);
    background-color: var(--clr-light-grey);
    padding: 20px;
    margin-block: 20px;
}

.event-header {
    object-fit: cover;
    height: 15%;
    width: 100%;
    background-size: cover;
    background-image: url(../images/event-header.jpg);

}

/* event page ends */

/* get-involved page */
.get-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
    gap: 60px;
}

.get-grid div {
    padding: 12px 12px;
    margin: 20px 20px;

}

.get-grid img {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.get-grid p {
    margin-bottom: 20px;
    text-align: justify;
}

.get-involved {
    display: flex;
    align-content: space-around;
    margin: 12px 12px;

}

.get-involved div {
    flex: 33%;
    padding: 12px 12px;
    margin: 12px 12px;
    border-radius: 12px;
    background-color: var(--clr-light-bg);
    box-shadow: 2px 8px 8px rgb(58, 58, 58);
}



.get-involved img {
    object-fit: cover;
    background-size: cover;
    align-items: center;
    width: 50%;
    height: 50%;
    border-radius: 10%;
    margin: 12px 12px;

}

.get-involved p {
    
    color: var(--clr-light-grey);
}

.get-involved-header {
    object-fit: cover;
    height: 15%;
    width: 100%;
    background-size: cover;
    background-image: url(../images/get-involved-header.jpeg);

}

/* get-involved page ends */

/* visit page */
.container {
    margin: 20px 20px;
}

.visit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;

}

.visit-map {

    margin: 0;
}

.visit-map img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    justify-content: center;
}

.visit-text {
    background: var(--clr-light-bg);
    justify-content: center;
    margin: 0;
    padding: 50px;



}

.visit-text p {
    line-height: 1.75;
}

.visit-text ul li {
    padding: 12px;

}

.visit-header {
    object-fit: cover;
    height: 15%;
    width: 100%;
    background-size: cover;
    background-image: url(../images/visit-header.jpeg);

}

.facilities {
    display: flex;
    padding: 10px 20px;
    justify-content: center;


}

.box1 {
    padding: 20px 20px;
    margin-right: 12px;
    width: 500px;
    background-color: var(--clr-secondary-pink);
    box-shadow: 2px 8px 8px rgb(119, 0, 50);
}

.box2 {
    padding: 20px 20px;
    margin-right: 12px;
    width: 500px;
    background-color: var(--clr-secondary-green);
    box-shadow: 2px 8px 8px rgb(8, 71, 63);
}

.box3 {
    padding: 20px 20px;
    width: 500px;
    background-color: var(--clr-primary-blue);
    box-shadow: 2px 8px 8px rgb(6, 52, 78);

}

.facilities h3 {
    padding-block: 12px;
    text-decoration: underline;
    text-align: center;
}

.facilities p {
    padding-block: 12px;
    line-height: 1.5;
    text-align: justify;
}

/* visit page ends */
/* contact page */
.contact {
    display: block;

}

.form {
    align-items: center;
    margin: auto;
    margin-block: 25px;
    padding: 30px 50px;
    width: 50%;
    background-image: url("../images/bg-contact.jpeg");



}

.form input {
    display: inline-block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;

}

textarea {
    width: 100%;
    border-radius: 5px;


}

label {
    color: var(--clr-white);
    margin-bottom: 12px;
}

::placeholder {
    color: var(--clr-primary-yellow);
    opacity: 0.4;

}

.contact-header {
    object-fit: cover;
    height: 15%;
    width: 100%;
    background-size: cover;
    background-image: url(../images/contact-header.jpeg);

}

/* button appearance for apple */
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* contact page ends */

@media screen and (max-width:524px) {

    .logo {
        width: 25%;
        font-size: 14px;


    }

    .hero-cta {
        top: 40%;
        left: 50px;
    }

    .hero-img img {
        height: 80vh;
        object-fit: cover;
    }

    .welcome {
        font-size: 24px;
    }

    .btn {
        padding: 10px 30px;

    }

    .menu li {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger nav {
        display: none;
    }

    .hamburger nav ul {
        margin: 120px 0px;
    }

    .underline {
        width: 50px;
    }

    .explore-container {
        flex-direction: column;
    }

    .right-column {
        order: 2
    }

    .bottom-container {
        flex-direction: column;
        max-width: 100%;
    }

    .footer-container {
        flex-direction: column;

    }

    .footer-logo {
        width: 15%;
    }

    .footer-backtotop {
        margin-left: auto;
    }

    /* exhibition section */
    .flex-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .event-box {
        grid-template-columns: 1fr;

    }

    .get-involved {
        margin: 30px;
        flex-direction: column;
    }

    .get-grid {
        grid-template-columns: 1fr;

    }

    .form {
        width: 80%;
    }

}

@media screen and (max-width:1100px) {
    .menu li {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger nav {
        display: none;
    }

    .column {
        height: auto;

    }

    .column img {
        height: 100%;
    }

    .event-box {
        grid-template-columns: 1fr 1fr;
    }

    .get-involved {
        margin: 30px;
        flex-direction: column;
    }

    .get-grid {
        grid-template-columns: 1fr;

    }

    .visit {

        grid-template-columns: 1fr;
        grid-gap: 12px;

    }

    .facilities {
        flex-direction: column;
    }

    .box1,
    .box2,
    .box3 {
        margin: 12px auto;
        width: 100%;
    }

    .form {
        width: 80%;
    }
}